.spacer {
    flex: 1 1 auto;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .search-bar {
    width: 250px;
    margin: 0 20px;
  }
  
  .categoria-select {
    width: 150px;
    margin-right: 20px;
  }

  mat-toolbar {
    background-color: #185FA4; /* Azul Oscuro */
    color: white;
  }
  
  .search-bar {
    width: 250px;
    margin: 0 20px;
  }
  
  .categoria-select {
    width: 150px;
    margin-right: 20px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  