<div class="product-list">
  <div class="titulo-productos">
    <p> Todos los productos </p>
  </div>
  <mat-grid-list [cols]="cols" gutterSize="16px" rowHeight="1:1.2">
    <mat-grid-tile *ngFor="let producto of productos">
      <mat-card class="card-producto" (click)="verDetalle(producto)">
        <div class="imagen-wrapper">
          <img mat-card-image [src]="producto.imagen" alt="{{ producto.nombre }}">
        </div>
        <mat-card-content>
          <h3 class="nombre">{{ producto.nombre }}</h3>
          <p class="descripcion">{{ producto.descripcion }}</p>
          <p class="precio">$ {{ producto.precio }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn-detalles" (click)="verDetalle(producto); $event.stopPropagation()">Ver detalles</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
